<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Bootcamp</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <nav class="navbar navbar-expand-sm bg-primary navbar-dark sticky-top" style="padding:40px;margin: 30px; font-size: 25px";>
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/bootcamp">About Bootcamp</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="/bootcamp" id="navbardrop" data-toggle="dropdown">
                    Blog
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/gitHub">GitHub</a>
                    <a class="dropdown-item " href="/coreJava">Core Java</a>
                    <a class="dropdown-item" href="/OOP">Object Oriented Programming</a>
                    <a class="dropdown-item" href="/html">HTML/CSS</a>
                    <a class="dropdown-item" href="/bootStrap">BootStrap</a>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link " href="/author">About Author</a>
            </li>
        </ul>
        </ul>
    </nav>

</head>
<body>
<div style="background-color:white;color:black;padding:40px;margin: 30px";text="justify">
    <h3>Java Web Developer Boot Camp</h3>
    <p>September 27, 2019</p>

        <h5>What is America's Promise Java Web Developer Boot Camp?</h5>
        <p> The Java Web Developer Boot Camp is an 8 hour a day (9 am - 5 pm, M-F) 8-week, immersive software engineering program funded by the Department of Labor. This course aims to increase the number of skilled software developers in this country. We do this by accepting qualified candidates who cannot afford the cost of a coding boot camp. If accepted into the program all fees will be covered by the program.

        </p>
    <h5>What will you Learn?</h5>
    <p>The Java Web Development Bootcamp takes you from your first java program to developing a web application. This course will give you a fast start on your career so you can take it to the next level. The course will teach you by forcing you to write over 130 java applications, including 5 major web applications. Programming challenges will keep you on your toes.

        You'll learn to create web pages. You'll use frameworks and stored procedures. You'll connect to a database using the Java Persistence API(JPA) and Hibernate, and most importantly, all assignments are submitted through git, so you will learn to develop using best practices in class, to make it easy to contribute value when you are on the job.

    </p>
    <h5>Is this bootcamp right for me?</h5>
    <p>The bootcamp is for programmers with a basic understanding of an object oriented language: Java, C#, VB.NET, Python, PHP, Ruby or C++. You do not need experience developing web applications.
    </p>
    <h5>What is the criteria for admission?</h5>
    <p>Applicants must be passionate about coding and have the drive to succeed in an immersive environment. Our ideal candidate is an Information Systems or Computer Science major who is either at least a rising junior or graduated within the last six years.

        If a student doesn't meet those criteria, they can participate in a special one week mini-camp to assess their ability to learn in this environment.

        Applicants also must be unemployed or underemployed to qualify for the grant. In the state of Maryland, a person who makes $42,000 or less is underemployed. Must be able to work in the United States.

        Note: Students must apply to be considered for the program. Dates and locations may be subject to change without notice.
    </p>

    <h5> At a Glance Schedule</h5>
    <p>Java Web Developer Boot Camp (8-weeks), Dates:  October 21, 2019 to December 17, 2019 (no class 11/28 & 11/29) , Times: 9:00 a.m. - 5:00 p.m., Location: GBTC
    </P></div>
<div style="background-color:white;color:black;padding:40px;margin: 30px";text="justify">
        <h3>MC Java Mini Boot Camp</h3>
        <p>September 27, 2019</p>

    <h5>What is this program?</h5>
    <p>In this one week, 35 hour Java Mini Boot Camp students learn how to develop complete web applications in the Java language with a database. By the end of the course, each student will have developed one complete web application: an online messaging app like Twitter. This course will cover: HTML/CSS/Javascript, Bootstrap, Java and the Spring Framework.

    </p>
    <h5>Prerequisites:</h5>
    <p>Programming knowledge with a basic understanding of an object oriented language: Java, C#, VB.NET or C++. Experience developing web applications is not required.

    </p>
    <h5>Program Objectives:</h5>
    <uli>
    <li>Develop complete web applications in the Java language with H2 and Postgres as the database.</li>
            <li>Program with Java EE framework and associated technologies.</li>
            <li>Develop an online messaging app like Twitter.</li>
     </uli></br></div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>