<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Github</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark" style="padding:40px;margin: 30px; font-size: 25px";>
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/bootcamp">About Bootcamp</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="/bootcamp" id="navbardrop" data-toggle="dropdown">
                    Blog
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/gitHub">GitHub</a>
                    <a class="dropdown-item " href="/coreJava">Core Java</a>
                    <a class="dropdown-item" href="/OOP">Object Oriented Programming</a>
                    <a class="dropdown-item" href="/html">HTML/CSS</a>
                    <a class="dropdown-item" href="/bootStrap">BootStrap</a>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link " href="/author">About Author</a>
            </li>
        </ul>
        </ul>
    </nav>
</head>
<body>

<DIV style="background-color:white;color:black;padding:30px;margin: 20px";>
    <h3>Github for Code Hosting</h3>
    <p>September 27, 2019</p>
    <P>
        GitHub is one of the largest code hosts in the world with over 100 million* projects. Private, public, or open source, all repositories are equipped with tools to help you host, version, and release code.
    </P><p><b>Host all users code</b></p>
        <p>Repositories help users keep code in one place, even if you use SVN or work with large files using Git LFS.

        With unlimited private repositories for individuals and teams, users can create or import as many projects as you’d like.

</p><p> <b>Make changes confidently</b></p>
        <p>Make changes to your code in precise commits so you can quickly search every commit message in your revision history to find a change.

        Use the blame view to trace changes and discover how your file, and your code base, has evolved.

        </p><p><b>Package and release code</b></p>
        <p>When users’re ready to share, they can package their changes from a recently closed milestone or finished project into a new release.
        </p><p><b>Download codes</b></p>
       <p> Draft and publish release notes, publish pre-release versions, attached files, and link directly to the latest download.

    </P></div>
<div style="background-color:white;color:black;padding:30px;margin: 20px";>
    <h3>Github for Project Management</h3>
    <p>September 27, 2019</p>
    <p>
        using Github made project management easy. Coordinate early, stay aligned, and get more done with GitHub’s project management tools.See everything happening in your project and choose where to focus your team’s efforts with Projects, task boards that live right where they belong: close to your code.Issues help you identify, assign, and keep track of tasks within your team. You can open an Issue to track a bug, discuss an idea with an @mention, or start distributing work

         </p></div>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark" style="padding:40px;margin: 30px; font-size: 25px";>
    <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/bootcamp">About Bootcamp</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="/bootcamp" id="navbarbottom" data-toggle="dropdown">
                Blog
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="/gitHub">GitHub</a>
                <a class="dropdown-item " href="/coreJava">Core Java</a>
                <a class="dropdown-item" href="/OOP">Object Oriented Programming</a>
                <a class="dropdown-item" href="/html">HTML/CSS</a>
                <a class="dropdown-item" href="/bootStrap">BootStrap</a>
            </div>
        </li>

        <li class="nav-item">
            <a class="nav-link " href="/author">About Author</a>
        </li>
    </ul>
    </ul>
</nav>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>